* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --white: #fff;
  --black: #000;
  --red: #E62424;
  --gilroy: "Gilroy", sans-serif;
}

html,
body {
  overflow: auto;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  flex: 1 1 auto;
}

.title {
  font-family: var(--gilroy);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.label {
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 100px;
  background: rgba(39, 48, 72, 0.1);
  width: -moz-fit-content;
  width: fit-content;
  display: block;
}

.label span {
  background: linear-gradient(180deg, rgb(109, 155, 186) 0%, rgb(39, 48, 72) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #273048;
}

.btn-red {
  padding: 16px;
  color: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red);
  background: linear-gradient(90deg, rgb(230, 36, 36) 0%, rgb(196, 21, 21) 100%);
}

.btn-white {
  font-weight: 500;
  padding: 9px;
  border-radius: 6px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navigation__prev,
.navigation__next {
  width: 42px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__prev.lock,
.navigation__next.lock {
  display: none;
}

.navigation__prev.disabled,
.navigation__next.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.navigation__prev svg,
.navigation__next svg {
  width: 100%;
  height: 100%;
  stroke: #000;
  stroke-width: 2px;
}

.navigation__prev svg {
  transform: rotate(180deg);
}

.pagination {
  font-family: var(--gilroy);
  font-size: 1.5rem;
  font-weight: 700;
  color: #7B7A7A;
  display: flex;
  align-items: center;
  gap: 2px;
}

.pagination__current {
  color: var(--black);
}

.select {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}

.select__container {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  border: 2px solid #283762;
  background: #EFEFF3;
  border-radius: 4px;
  transition: all 0.5s ease;
  max-height: 0;
  overflow: hidden;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
}

.select__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.select__container._active {
  max-height: 200px;
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.select__option {
  padding: 12px 22px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.3;
  transition: all 0.5s ease;
  cursor: pointer;
}

.select__checked {
  cursor: pointer;
  width: 100%;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #283762;
  opacity: 0.3;
  background: none;
  padding: 22px;
  border-radius: 4px;
  transition: all 0.5s ease;
  position: relative;
}

.select__checked._active {
  opacity: 1;
}

.select__checked._active::after {
  transform: translate(0, -50%) rotate(-90deg);
}

.select__checked::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translate(0, -50%) rotate(90deg);
  width: 24px;
  height: 24px;
  background: url("../img/icons/icons.svg#arrow-str") center/cover no-repeat;
  transition: all 0.5s ease;
}

.select span {
  cursor: pointer;
}

.select input {
  display: none;
}

.checkbox {
  padding-left: 32px;
  position: relative;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.6875rem;
}

.checkbox::before,
.checkbox::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  transition: all 0.5s ease;
}

.checkbox::before {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

.checkbox::after {
  background: url("../img/icons/icons.svg#check") center/contain no-repeat;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -50%);
}

.checkbox.active::before {
  border: 1px solid #34C759;
}

.checkbox.active::after {
  opacity: 1;
  visibility: visible;
}

.checkbox input {
  display: none;
}

.scrollbar {
  height: 2px;
  background: #EFEFF3;
}

.scrollbar__drag {
  height: 4px;
  border-radius: 100px;
  background: rgb(105, 148, 179);
  background: linear-gradient(270deg, rgb(105, 148, 179) 0%, rgb(62, 74, 98) 100%);
}

/**
 * Swiper 11.1.14
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: September 12, 2024
 */

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */

.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}

.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}

.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */

/* 3D Shadows */

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Slide styles end */

.main {
  background: url("../img/main/bg.webp") center/cover no-repeat;
  margin-bottom: 35px;
}

.main__body {
  display: flex;
  padding: 158px 0;
  gap: 140px;
}

.main__info {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
}

.main__label {
  margin-bottom: 16px;
  font-size: 1.125rem;
  line-height: 1.3;
  text-transform: uppercase;
}

.main__title {
  font-family: var(--gilroy);
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: uppercase;
  line-height: 1.1;
}

.main__title span {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 2px 4px;
  color: #373737;
  background: var(--white);
  vertical-align: middle;
  white-space: nowrap;
}

.main__text {
  margin-bottom: 40px;
  font-size: 1.125rem;
  line-height: 1.3;
}

.main__btn {
  max-width: 160px;
  width: 100%;
}

.main__image {
  flex: 1 1 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.main__image img {
  max-width: 100%;
  height: auto;
}

.main__icons {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 100px;
  background: rgb(105, 148, 179);
  background: radial-gradient(circle, rgb(105, 148, 179) 0%, rgb(62, 74, 98) 100%);
  width: -moz-fit-content;
  width: fit-content;
  margin: -66px auto 0;
  transform: translate(0, 50%);
}

.main__icon {
  width: 46px;
  height: 46px;
  min-width: 46px;
}

.main__icon img {
  max-width: 100%;
  height: auto;
}

.about {
  padding: 85px 0;
}

.about__body {
  margin-bottom: 70px;
  display: flex;
  gap: 105px;
}

.about__main {
  flex: 1 1 30%;
}

.about__label {
  margin-bottom: 20px;
}

.about__text {
  flex: 1 1 70%;
  font-size: 2rem;
  font-weight: 500;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.about__item {
  display: flex;
  align-items: center;
  padding: 24px;
  border: 1px solid rgba(39, 48, 72, 0.3);
  border-radius: 4px;
}

.about__icon {
  width: 60px;
  height: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.about__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.about__desc {
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.about__desc span {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 7px;
}

.product {
  padding-bottom: 120px;
}

.product__wrapper {
  background: #D3D8E3;
  position: relative;
}

.product__wrapper::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/product/bg.webp") center/cover no-repeat;
}

.product__wrapper::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(211, 216, 227, 0) 0%, rgb(211, 216, 227) 100%);
}

.product__body {
  display: flex;
  gap: 80px;
  padding: 120px 0 180px;
  position: relative;
  z-index: 1;
}

.product__main {
  flex: 1 1 45%;
}

.product__title {
  font-family: var(--gilroy);
  font-size: 3.75rem;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.product__title span {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 1.0625rem;
  padding: 10px 24px;
  border-radius: 100px;
  background: radial-gradient(at 50% -150%, rgb(109, 155, 186) 0%, rgb(29, 38, 62) 100%);
  line-height: 1;
  color: var(--white);
}

.product__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 8px;
  position: relative;
  z-index: 2;
}

.product__label {
  padding-left: 16px;
  position: relative;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
}

.product__label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 0;
  border-radius: 50%;
  background: var(--red);
  transform: translate(0, -50%);
}

.product__image {
  display: flex;
  justify-content: center;
  position: relative;
}

.product__image img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.product__info {
  flex: 1 1 55%;
}

.product__text {
  line-height: 1.4;
}

.product__text:not(:last-child) {
  margin-bottom: 32px;
}

.product__list {
  margin-bottom: 32px;
}

.product__item {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.product__item:not(:last-child) {
  margin-bottom: 2px;
}

.product__item:last-child {
  margin-top: 4px;
}

.product__item:last-child .product__param {
  text-align: center;
}

.product__param {
  flex: 1 1 55%;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 700;
  color: var(--white);
  background: rgba(39, 48, 72, 0.8);
  padding: 8px 10px;
}

.product__value {
  flex: 1 1 55%;
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 8px 10px;
  text-align: right;
  background: var(--white);
}

.product__accent {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #000;
  text-align: center;
}

.features-product {
  margin-top: -110px;
  position: relative;
  z-index: 1;
}

.features-product__wrapper {
  padding: 24px;
  background: var(--white);
  border-radius: 16px;
  border: 1px solid #BFC6DD;
}

.features-product__title {
  margin-bottom: 16px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.features-product__body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 8px;
}

.features-product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid rgba(39, 48, 72, 0.3);
  border-radius: 6px;
  padding: 16px 5px;
}

.features-product__icon {
  width: 48px;
  height: 48px;
  margin-bottom: 14px;
}

.features-product__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.features-product__name {
  text-align: center;
  font-size: 0.875rem;
}

.gallery {
  padding-bottom: 90px;
}

.gallery__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery__controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.gallery__body {
  display: grid;
  grid-template-columns: minmax(15px, 1fr) minmax(0, 170px) minmax(0, 1030px) minmax(15px, 1fr);
}

.gallery__thumbs {
  grid-column: 2/3;
  padding-right: 50px;
}

.gallery__slider {
  overflow: hidden;
  grid-column: span 2;
  min-width: 0;
}

.gallery__slide {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
}

.gallery__slide img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  border-radius: 10px;
}

.gallery__scrollbar {
  margin-top: 24px;
  grid-column: 3/4;
  grid-row: 2/3;
}

.thumbs-gallery__slider {
  touch-action: none;
}

.thumbs-gallery__slide {
  width: 120px;
  height: 64px;
  min-width: 120px;
  position: relative;
  cursor: pointer;
}

.thumbs-gallery__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.parameters {
  color: var(--white);
  padding: 120px 0;
  background: #273048;
  background: radial-gradient(at -300% -300%, rgb(109, 155, 186) 0%, rgb(29, 38, 62) 100%);
  position: relative;
}

.parameters::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 417px;
  height: 479px;
  background: url("../img/parameters/decor1.svg") center/cover no-repeat;
}

.parameters::after {
  content: "";
  position: absolute;
  top: 0;
  right: 3%;
  width: 324px;
  height: 160px;
  background: url("../img/parameters/decor2.svg") center/cover no-repeat;
}

.parameters__header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 110px;
  margin-bottom: 40px;
}

.parameters__text {
  font-size: 2rem;
}

.parameters__icon {
  width: 100px;
  min-width: 100px;
  height: 100px;
}

.parameters__icon img {
  max-width: 100%;
  height: auto;
}

.parameters__body {
  position: relative;
  z-index: 1;
  overflow-x: auto;
  margin-bottom: 30px;
  scrollbar-width: none;
}

.parameters__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.parameters__image {
  padding-bottom: 10px;
  min-width: 900px;
}

.parameters__image img {
  max-width: 100%;
  height: auto;
}

.parameters__btn {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.order_extra {
  padding-bottom: 120px;
}

.order__body {
  background: #EFEFF3;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.order__intro {
  background: #273048;
  background: radial-gradient(at -300% -300%, rgb(109, 155, 186) 0%, rgb(29, 38, 62) 100%);
  color: var(--white);
  border-radius: 16px;
  flex: 1 1 33%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order__image {
  width: 100px;
  height: 100px;
}

.order__image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.order__text {
  font-size: 0.875rem;
  line-height: 1.4;
}

.order__form {
  flex: 1 1 67%;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  height: -moz-fit-content;
  height: fit-content;
}

.order__input {
  flex: 1 1 45%;
  height: -moz-fit-content;
  height: fit-content;
}

.order__input input {
  width: 100%;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #283762;
  opacity: 0.3;
  background: none;
  padding: 22px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.order__input input::-moz-placeholder {
  color: var(--black);
  opacity: 1;
}

.order__input input::placeholder {
  color: var(--black);
  opacity: 1;
}

.order__input input:focus {
  opacity: 1;
}

.order__select {
  flex: 1 1 45%;
}

.order__checkbox {
  flex: 1 1 100%;
}

.order__btn {
  max-width: 165px;
  width: 100%;
  margin: 0 auto;
}

.advantages__container {
  padding-top: 120px;
  padding-bottom: 40px;
  border-top: 1px solid #DADADC;
  border-bottom: 1px solid #DADADC;
}

.advantages__header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 16px;
}

.advantages__main {
  flex: 1 1 auto;
}

.advantages__label {
  margin-bottom: 20px;
}

.advantages__controls {
  display: flex;
  gap: 24px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  padding: 40px;
}

.advantages__body {
  transition: all 0.5s ease;
  transform: translate(0, 24px);
}

.advantages__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.advantages__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(75, 96, 122);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(75, 96, 122) 100%);
  opacity: 0.7;
  transition: all 0.5s ease;
}

.advantages__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__icon {
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
  position: relative;
}

.advantages__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.advantages__name {
  font-family: var(--gilroy);
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  color: var(--black);
  text-transform: uppercase;
}

.advantages__more {
  position: relative;
  color: var(--white);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.advantages__more svg {
  width: 24px;
  height: 24px;
  stroke: var(--red);
  stroke-width: 2px;
}

.eco {
  padding: 120px 0;
}

.eco__body {
  display: flex;
  gap: 115px;
}

.eco__main {
  flex: 1 1 30%;
}

.eco__icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 77px;
}

.eco__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.eco__title {
  display: flex;
  flex-direction: column;
}

.eco__title span {
  font-size: 4.25rem;
}

.eco__desc {
  flex: 1 1 70%;
}

.eco__text {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 32px;
}

.eco__accent {
  font-size: 2rem;
  font-weight: 500;
  padding: 16px 10px;
  border-radius: 8px;
  background: #EFEFF3;
  text-align: center;
}

.features {
  padding: 120px 0;
}

.features__row {
  display: flex;
  align-items: center;
  gap: 100px;
}

.features__row:nth-child(even) {
  flex-direction: row-reverse;
}

.features__row:not(:last-child) {
  margin-bottom: 40px;
}

.features__image {
  flex: 1 1 60%;
}

.features__image img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.features__info {
  flex: 1 1 40%;
}

.features__icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.features__icon img {
  max-width: 100%;
  height: auto;
}

.features__title {
  margin-bottom: 20px;
}

.features__text {
  line-height: 1.4;
}

.features__text:not(:last-child) {
  margin-bottom: 32px;
}

.links-features {
  display: flex;
  gap: 20px;
}

.links-features__code {
  width: 131px;
  height: 131px;
  min-width: 131px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-features__code img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.links-features__desc {
  display: flex;
  align-items: center;
}

.links-features__icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-features__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.links-features__btn {
  max-height: 40px;
  display: none;
}

.links-features__btn img {
  max-height: 100%;
  width: auto;
}

.extra {
  background: url("../img/extra/bg.webp") center/cover no-repeat, #273048;
  background: url("../img/extra/bg.webp") center/cover no-repeat, radial-gradient(at -300% -300%, rgb(109, 155, 186) 0%, rgb(29, 38, 62) 100%);
  padding: 120px 0;
}

.extra__body {
  color: var(--white);
}

.extra__image {
  width: 100%;
  margin-bottom: 40px;
}

.extra__image img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.extra__items {
  display: flex;
  gap: 120px;
}

.extra__item {
  flex: 1 1 50%;
}

.extra__icon {
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extra__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.extra__title {
  margin-bottom: 20px;
}

.extra__desc {
  line-height: 1.4;
}

.warranty {
  padding-bottom: 120px;
}

.warranty__body {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 105px;
  border-top: 1px solid #DADADC;
  padding-top: 120px;
}

.warranty__header {
  flex: 1 1 28%;
}

.warranty__image {
  width: 100%;
  height: 170px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.warranty__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.warranty__label {
  margin-bottom: 20px;
}

.warranty__text {
  flex: 1 1 72%;
  font-size: 2rem;
  font-weight: 500;
}

.warranty__items {
  display: flex;
  gap: 24px;
}

.warranty__item {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  padding: 24px;
  border: 2px solid #EFEFF3;
}

.warranty__icon {
  width: 100px;
  height: 110px;
  min-width: 100px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.warranty__icon img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.warranty__desc {
  font-size: 1.125rem;
  font-weight: 700;
  color: #07181F;
}

.feedbacks {
  padding: 120px 0;
}

.feedbacks__label {
  margin: 0 auto 20px;
}

.feedbacks__title {
  text-align: center;
  margin-bottom: 50px;
}

.feedbacks__slider {
  margin-bottom: 50px;
  overflow: hidden;
}

.feedbacks__slide {
  display: flex;
  justify-content: center;
}

.feedbacks__item {
  max-width: 890px;
  padding: 20px;
  border-radius: 16px;
  background: #EFEFF3;
}

.feedbacks__text {
  margin-bottom: 24px;
  line-height: 1.4;
  color: #828282;
  text-align: center;
}

.feedbacks__name {
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.feedbacks__extra {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4F4F4F;
}

.feedbacks__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.goods__container {
  position: relative;
}

.goods__label {
  margin: 0 auto 20px;
}

.goods__title {
  max-width: 740px;
  margin: 0 auto 60px;
  text-align: center;
}

.goods__body {
  padding: 80px 0;
  background: #EFEFF3;
}

.goods__slider {
  overflow: hidden;
  margin: 0 56px;
}

.goods__slide {
  padding: 30px;
  background: var(--white);
}

.goods__image {
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
}

.goods__image img {
  max-width: 100%;
  height: auto;
}

.goods__name {
  margin-bottom: 17px;
  font-size: 1.0625rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.goods__desc {
  font-size: 0.9375rem;
  color: #929292;
  text-align: center;
  text-transform: capitalize;
}

.goods__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
}

.goods__prev,
.goods__next {
  width: 56px;
  height: 56px;
}

.goods__prev.disabled,
.goods__next.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.goods__prev.lock,
.goods__next.lock {
  display: none;
}

.goods__prev svg,
.goods__next svg {
  width: 100%;
  height: 100%;
  stroke: #000;
}

.goods__prev svg {
  transform: rotate(-180deg);
}

.faq {
  padding: 80px 0;
}

.faq__label {
  margin-bottom: 20px;
}

.faq__title {
  margin-bottom: 33px;
}

.faq__body {
  display: flex;
  gap: 140px;
}

.faq__main {
  flex: 1 1 80%;
}

.faq__item {
  padding: 24px 0;
}

.faq__item:not(:last-child) {
  border-bottom: 1px solid #EBEAED;
}

.faq__question {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq__question._active svg {
  transform: rotate(90deg);
}

.faq__question svg {
  width: 18px;
  min-width: 18px;
  height: 18px;
  stroke: var(--black);
  margin-left: 8px;
  transition: all 0.5s ease;
}

.faq__answer {
  padding-top: 32px;
  color: #828282;
  line-height: 1.5;
}

.faq__answer p:not(:last-child) {
  margin-bottom: 16px;
}

.faq__extra {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faq__accent {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #828282;
  margin-bottom: 15px;
}

.faq__text {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 1.5;
}

.faq__btn {
  max-width: 120px;
  width: 100%;
}

@media (max-width: 1230px) {
  .title {
    font-size: calc(2rem + 16 * (100vw - 23.4375rem) / 855);
  }

  .label {
    font-size: calc(0.75rem + 4 * (100vw - 23.4375rem) / 855);
  }

  .main__body {
    padding: calc(40px + 118 * (100vw - 320px) / 910) 0;
    gap: calc(20px + 120 * (100vw - 375px) / 855);
  }

  .main__label {
    font-size: calc(1rem + 2 * (100vw - 23.4375rem) / 855);
  }

  .main__title {
    font-size: calc(2.5rem + 20 * (100vw - 23.4375rem) / 855);
  }

  .main__text {
    font-size: calc(1rem + 2 * (100vw - 23.4375rem) / 855);
  }

  .main__icons {
    padding: calc(6px + 4 * (100vw - 375px) / 855);
    gap: calc(10px + 6 * (100vw - 375px) / 855);
  }

  .main__icon {
    width: calc(30px + 16 * (100vw - 375px) / 855);
    height: calc(30px + 16 * (100vw - 375px) / 855);
    min-width: calc(30px + 16 * (100vw - 375px) / 855);
  }

  .about {
    padding: calc(50px + 35 * (100vw - 375px) / 855) 0;
  }

  .about__body {
    margin-bottom: calc(24px + 46 * (100vw - 320px) / 910);
    gap: calc(16px + 89 * (100vw - 375px) / 855);
  }

  .about__label {
    margin-bottom: calc(8px + 12 * (100vw - 375px) / 855);
  }

  .about__text {
    font-size: calc(1rem + 16 * (100vw - 23.4375rem) / 855);
  }

  .about__grid {
    gap: calc(16px + 24 * (100vw - 320px) / 910);
  }

  .about__desc span {
    font-size: calc(1.5rem + 24 * (100vw - 23.4375rem) / 855);
  }

  .product {
    padding-bottom: calc(50px + 70 * (100vw - 375px) / 855);
  }

  .product__body {
    gap: calc(20px + 60 * (100vw - 375px) / 855);
    padding-top: calc(50px + 70 * (100vw - 375px) / 855);
  }

  .product__title {
    font-size: calc(2rem + 28 * (100vw - 23.4375rem) / 855);
  }

  .product__accent {
    font-size: calc(1rem + 2 * (100vw - 23.4375rem) / 855);
  }

  .gallery {
    padding-bottom: calc(50px + 40 * (100vw - 375px) / 855);
  }

  .parameters {
    padding: calc(50px + 70 * (100vw - 375px) / 855) 0;
  }

  .parameters__header {
    gap: calc(16px + 94 * (100vw - 375px) / 855);
  }

  .parameters__text {
    font-size: calc(1rem + 16 * (100vw - 23.4375rem) / 855);
  }

  .parameters__icon {
    width: calc(44px + 56 * (100vw - 375px) / 855);
    height: calc(44px + 56 * (100vw - 375px) / 855);
    min-width: calc(44px + 56 * (100vw - 375px) / 855);
  }

  .order_extra {
    padding-bottom: calc(50px + 70 * (100vw - 375px) / 855);
  }

  .order__intro {
    padding: calc(20px + 30 * (100vw - 320px) / 910);
  }

  .order__form {
    padding: calc(15px + 25 * (100vw - 320px) / 910);
  }

  .advantages__container {
    padding-top: calc(50px + 70 * (100vw - 320px) / 910);
  }

  .advantages__name {
    font-size: calc(1.125rem + 6 * (100vw - 23.4375rem) / 855);
  }

  .eco {
    padding: calc(50px + 70 * (100vw - 320px) / 910) 0;
  }

  .eco__body {
    gap: calc(24px + 91 * (100vw - 375px) / 855);
  }

  .eco__icon {
    width: calc(46px + 54 * (100vw - 320px) / 910);
    height: calc(46px + 54 * (100vw - 320px) / 910);
  }

  .eco__title span {
    font-size: calc(2.625rem + 26 * (100vw - 23.4375rem) / 855);
  }

  .eco__text {
    font-size: calc(0.9375rem + 17 * (100vw - 23.4375rem) / 855);
  }

  .eco__accent {
    font-size: calc(1.125rem + 14 * (100vw - 23.4375rem) / 855);
  }

  .features {
    padding: calc(50px + 70 * (100vw - 320px) / 910) 0;
  }

  .features__row {
    gap: calc(24px + 76 * (100vw - 375px) / 855);
  }

  .extra {
    padding: calc(50px + 70 * (100vw - 320px) / 910) 0;
  }

  .extra__items {
    gap: calc(24px + 96 * (100vw - 320px) / 910);
  }

  .warranty {
    padding-bottom: calc(50px + 70 * (100vw - 375px) / 855);
  }

  .warranty__body {
    gap: calc(16px + 89 * (100vw - 320px) / 910);
    padding-top: calc(50px + 70 * (100vw - 375px) / 855);
  }

  .warranty__text {
    font-size: calc(1rem + 16 * (100vw - 23.4375rem) / 855);
  }

  .warranty__items {
    gap: calc(8px + 16 * (100vw - 375px) / 855);
  }

  .warranty__item {
    padding: calc(16px + 8 * (100vw - 375px) / 855);
  }

  .warranty__icon {
    width: calc(80px + 20 * (100vw - 375px) / 855);
    min-width: calc(80px + 20 * (100vw - 375px) / 855);
    height: calc(88px + 22 * (100vw - 375px) / 855);
  }

  .warranty__desc {
    font-size: calc(0.875rem + 4 * (100vw - 20rem) / 910);
  }

  .feedbacks {
    padding: calc(50px + 70 * (100vw - 375px) / 855) 0;
  }

  .feedbacks__title {
    margin-bottom: calc(24px + 26 * (100vw - 375px) / 855);
  }

  .feedbacks__slider {
    margin-bottom: calc(24px + 26 * (100vw - 375px) / 855);
  }

  .goods__label {
    margin-bottom: calc(8px + 12 * (100vw - 320px) / 910);
  }

  .goods__title {
    margin-bottom: calc(40px + 20 * (100vw - 320px) / 910);
  }

  .goods__body {
    padding: calc(50px + 30 * (100vw - 375px) / 855) 0;
  }

  .faq {
    padding: calc(50px + 30 * (100vw - 320px) / 910) 0;
  }

  .faq__body {
    gap: calc(40px + 100 * (100vw - 375px) / 855);
  }

  .faq__item {
    padding: calc(16px + 8 * (100vw - 375px) / 855) 0;
  }
}

@media (max-width: 1200px) {
  .about__item {
    flex-direction: column;
  }

  .about__icon {
    margin: 0 0 12px;
  }

  .about__desc {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .product__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product__title span {
    position: static;
    margin-bottom: 12px;
  }

  .features-product__body {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery__slide {
    width: 100%;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .about__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product__wrapper::before {
    display: none;
  }

  .product__wrapper::after {
    display: none;
  }

  .product__body {
    gap: 20px;
    flex-direction: column;
    padding: 50px 0;
  }

  .product__title {
    color: var(--black);
  }

  .product__labels {
    justify-content: center;
  }

  .product__label {
    font-size: 0.75rem;
  }

  .product__label::before {
    background: none;
    top: 0;
    transform: translate(0, 0);
  }

  .product__label:not(:first-child)::before {
    content: "/ ";
  }

  .product__image {
    margin: 0 -15px;
    padding: 0 15px;
  }

  .product__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    bottom: 0;
    left: 0;
    background: url("../img/product/bg.webp") center/cover no-repeat;
  }

  .product__image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(211, 216, 227) 10%, rgba(211, 216, 227, 0) 50%, rgb(211, 216, 227) 100%);
  }

  .features-product {
    margin: 0;
    padding: 50px 0;
  }

  .features-product__wrapper {
    border: none;
    padding: 0;
  }

  .features-product__body {
    overflow-x: auto;
    scrollbar-width: none;
    padding-bottom: 10px;
  }

  .features-product__body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .features-product__item {
    min-width: 140px;
  }

  .gallery__title {
    flex: 1 1 auto;
    text-align: center;
  }

  .gallery__controls {
    display: none;
  }

  .gallery__body {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }

  .gallery__thumbs {
    order: 2;
    grid-column: unset;
    padding: 0;
  }

  .gallery__slider {
    order: 1;
    margin-bottom: 25px;
    grid-column: unset;
  }

  .gallery__slide {
    padding: 0;
  }

  .gallery__scrollbar {
    display: none;
  }

  .thumbs-gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  .thumbs-gallery__slide {
    width: unset;
    height: unset;
    min-width: unset;
  }

  .thumbs-gallery__slide img {
    position: static;
    border-radius: 4px;
  }

  .order__body {
    flex-direction: column;
  }

  .order__intro {
    width: 100%;
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    gap: 16px;
  }

  .order__text {
    grid-column: span 2;
  }

  .eco__body {
    flex-direction: column;
    gap: 24px;
  }

  .eco__main {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .eco__icon {
    margin: 0;
  }

  .eco__title {
    display: inline;
  }

  .features__row {
    flex-direction: column;
    gap: 24px;
  }

  .features__row:nth-child(even) {
    flex-direction: column;
  }

  .features__info {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 16px;
    align-items: center;
  }

  .features__icon {
    margin: 0;
  }

  .features__title {
    margin: 0;
  }

  .features__text {
    grid-column: span 2;
  }

  .features__text:not(:last-child) {
    margin: 0;
  }

  .features__links {
    grid-column: span 2;
  }

  .links-features {
    gap: 12px;
  }

  .links-features__code {
    display: none;
  }

  .links-features__desc {
    display: none;
  }

  .links-features__btn {
    display: block;
  }

  .extra {
    background: #273048;
    background: radial-gradient(at -300% -300%, rgb(109, 155, 186) 0%, rgb(29, 38, 62) 100%);
  }

  .extra__image {
    margin-bottom: 24px;
  }

  .extra__items {
    flex-direction: column;
    gap: 24px;
  }

  .extra__item {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 16px;
    align-items: center;
  }

  .extra__icon {
    margin: 0;
  }

  .extra__title {
    margin: 0;
  }

  .extra__desc {
    grid-column: span 2;
  }

  .warranty__items {
    flex-direction: column;
  }

  .goods__slider {
    margin: 0;
  }

  .goods__navigation {
    display: none;
  }
}

@media (max-width: 576px) {
  .main {
    background-image: url("../img/main/bg-mob.webp");
  }

  .main__body {
    flex-direction: column;
  }

  .main__info {
    align-items: center;
  }

  .main__label {
    margin-bottom: 14px;
    text-align: center;
  }

  .main__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
  }

  .main__text {
    text-align: center;
    margin-bottom: 20px;
  }

  .main__icons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    flex-direction: column;
  }

  .about__body {
    flex-direction: column;
    align-items: center;
  }

  .about__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product__param {
    flex: 1 1 auto;
    font-size: 0.75rem;
  }

  .product__value {
    flex: 1 1 auto;
    font-size: 0.75rem;
  }

  .parameters::before {
    display: none;
  }

  .parameters::after {
    display: none;
  }

  .parameters__header {
    flex-direction: column;
    gap: 16px;
  }

  .parameters__title {
    text-align: center;
    order: 2;
  }

  .parameters__text {
    text-align: center;
    order: 3;
  }

  .parameters__icon {
    order: 1;
  }

  .order__input {
    flex: 1 1 100%;
  }

  .advantages__header {
    flex-direction: column;
  }

  .advantages__label {
    margin: 0 auto 20px;
  }

  .advantages__title {
    text-align: center;
  }

  .eco__title {
    font-size: 1.125rem;
  }

  .eco__title span {
    font-size: 1.5rem;
  }

  .features__title {
    font-size: 1.125rem;
  }

  .extra__title {
    font-size: 1.125rem;
  }

  .warranty__body {
    flex-direction: column;
  }

  .warranty__header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .warranty__main {
    flex: 1 1 auto;
  }

  .warranty__image {
    flex: 1 1 35%;
    height: unset;
    aspect-ratio: 1/1;
    margin: 0;
    min-width: 100px;
  }

  .faq__body {
    flex-direction: column;
  }

  .faq__btn {
    max-width: 170px;
  }
}

@media (max-width: 480px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    opacity: 1;
  }

  .advantages__item:hover .advantages__body {
    transform: translate(0, 0);
  }

  .advantages__item:hover .advantages__name {
    color: var(--white);
  }

  .advantages__item:hover .advantages__more {
    opacity: 1;
    visibility: visible;
  }

  .advantages__item:hover .advantages__image::after {
    background: rgb(75, 96, 122);
    background: linear-gradient(90deg, rgb(75, 96, 122) 0%, rgb(75, 96, 122) 100%);
  }

  .advantages__item:hover .advantages__icon {
    filter: brightness(0) invert(1);
  }
}